#post {
    word-break: break-all;
}

#center {
    margin-top: 5%;
}

label.error {
    font-weight: normal;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.btn {
    margin-top: 5px;
}

.affix {
    z-index: 1;
}

#erremail {
    color: red;
    font-weight: normal;
}

#errname {
    color: red;
    font-weight: normal;
}

#errpass {
    color: red;
    font-weight: normal;
}

#errrole {
    color: red;
    font-weight: normal;
}

#errlevel {
    color: red;
    font-weight: normal;
}

#errpass1 {
    color: red;
    font-weight: normal;
}

#ok {
    color: green;
    font-weight: normal;
}

#active_user {
    color: yellow;
}

body {
    padding-top: 70px;
}

#table {
    max-height: 60px;
}